.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #61dafb;
}

.logo {
  cursor: pointer;
}

.video-segment {
  cursor: pointer;
}

.video-segment:hover {
  background-color: whitesmoke;
}

.AppHeader {
  background-color: #282c34;
  height: 135px;
  position: fixed;
  top: 0;
  right: 0;
  left: 200px; /* this is the size of the side nav */
  z-index: 100;
}

.layout-content {
  padding-top: 135px;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}

.segment-field[data-disabled] {
  cursor: not-allowed;
}

.segment-field[disabled] {
  cursor: not-allowed;
}

.segment-field.disabled {
  cursor: not-allowed;
}

.segment-field .disabled {
  cursor: not-allowed;
}

.segment-time-field {
  width: 90px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 16px !important;
}

.segment-time-field[disabled] {
  cursor: not-allowed;
}

.noUi-pips {
  height: 40px;
}

.react-tagsinput-input {
  background: #eee;
  color: #000;
  font-family: sans-serif;
  font-size: 14px !important;
  margin-bottom: 6px;
  margin-top: 1px;
  padding: 3px;
  width: 300px;
  text-align: center;
  border-width: 1px;
  border-color: grey;
  border-style: dashed;
  border-radius: 3px;
}

.noUi-target {
  margin-top: 5px !important;
}

.noUi-handle {
  background: #aaa;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -130%;
}

.videodesc {
  text-align: left;
  margin: 5px;
  background-color: #eee;
  padding: 30px;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  white-space: pre-line;
}

.tagdesc {
  text-align: left;
  margin: 0px;
  background-color: #e5e5e5;
  padding: 10px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  white-space: pre-line;
  font-weight: bold;
  font-size: 12pt;
  color: #666;
}

.ui.segment.search-bar {
  background-color: #bbb;
}

.search-bar.ui.segment {
  margin: 20px;
}

/* Styles for React Tags*/

div.ReactTags__tags {
  position: relative;
  border: 1px solid #aaa;
  padding: 5px;
  background: #f5f5f5;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 300px;
  display: inline-block;
  background: #ccc;
  border-radius: 5px;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 28px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px dashed rgb(114, 114, 114);
  padding: 0 4px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #999b95;
  background: #c6e790d3;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 3px;
}
div.ReactTags__selected .ReactTags__remove {
  color: rgb(54, 54, 54);
  margin-left: 5px;
  cursor: pointer;
  background: transparent;
  border: 0px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  text-align: left;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 300px;
  z-index: 2 !important;
  position: relative;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #d2ff9ed3;
  cursor: pointer;
}

.pageend {
  margin: 500px;
}

textarea:focus,
input:focus {
  outline-color: #aaa;
}

.vidtitle {
  color: #000 !important;
  white-space: pre-wrap;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.contact {
  float: left;
}
