.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ddd;
}

.App-link {
  color: #61dafb;
}

.logo {
  cursor: pointer;
}

.video-segment {
  cursor: pointer;
}

.video-segment:hover {
  background-color: whitesmoke;
}

.AppHeader {
  background-color: #282c34;
  height: 135px;
  position: fixed;
  top: 0;
  right: 0;
  left: 300px; /* this is the size of the side nav */
  z-index: 100;
}

.layout-content {
  padding-top: 135px;
  padding-right: 1rem;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}

.segment-field[data-disabled] {
  cursor: not-allowed;
}

.segment-field[disabled] {
  cursor: not-allowed;
}

.segment-field.disabled {
  cursor: not-allowed;
}

.segment-field .disabled {
  cursor: not-allowed;
}

.segment-time-field {
  width: 90px;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-size: 16px !important;
}

.segment-time-field[disabled] {
  cursor: not-allowed;
}

.noUi-pips {
  height: 40px;
}

.react-tagsinput-input {
  background: #eee;
  color: #000;
  font-family: sans-serif;
  font-size: 14px !important;
  margin-bottom: 6px;
  margin-top: 1px;
  padding: 3px;
  width: 300px;
  text-align: center;
  border-width: 1px;
  border-color: grey;
  border-style: dashed;
  border-radius: 3px;
}

.noUi-target {
  margin-top: 5px !important;
}

.noUi-handle {
  background: #aaa;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -130%;
}

.videodesc {
  text-align: left;
  margin: 5px;
  background-color: #eee;
  padding: 30px;
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  white-space: pre-line;
}

.ui.segment.search-bar {
  background-color: #bbb;
}

.search-bar.ui.segment {
  margin: 20px;
}
